# Prevent pnpm from adding the "workspace:"" prefix to local
# packages as it causes issues with manypkg
# @link https://pnpm.io/npmrc#prefer-workspace-packages
save-workspace-protocol=false
prefer-workspace-packages=true

# Enable running pre/post scripts
# @link https://pnpm.io/cli/run#differences-with-npm-run
enable-pre-post-scripts=true
